body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    /* padding: 20px; */
}

.contact-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-container h2 {
    text-align: center;
    color: #333;
}

.contact-box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.contact-box h3 {
    margin-top: 0;
    color: #0056b3;
}

.contact-box p {
    margin: 5px 0;
    line-height: 1.5;
}

.contact-box a {
    color: #0056b3;
    text-decoration: none;
}

.contact-box a:hover {
    text-decoration: underline;
}
