#snackbar {
  visibility: hidden;
  min-width: 350px;
  margin-left: -125px;
  background-color: rgb(9, 136, 9);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgb(11, 0, 0);
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 0%;
  top: 30px;
  font-size: 17px;
  height: fit-content;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.dropdownContent {
  position: relative;
  cursor: pointer;
  max-width: 400px;
}

.dropdownTop {
  background-color: #fff;
  padding: 12px 8px;
  border: 1px solid rgb(216 216 216);
  color: black;
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
  border-radius: 4px;
}

.dropdownBotton {
  display: none;
  margin-top: 6px;
}
.dropdownBotton.active {
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  flex-direction: column;
  color: black;
  position: absolute;
}
.dropdownTop.selected {
  border: 2px solid rgb(9, 136, 9);
  background-color: rgba(9, 136, 9, 0.262);
}
.dropdownBotton p {
  color: white;
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
  padding-bottom: 10px;

  border-bottom: 1px solid #dfe6eb;
}
